.cart-modal-container {
  display: flex;
  flex-direction: column; /* Align children vertically */
  align-items: flex-start; /* Align children to the left */
}
  
.cart-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  position: absolute;
  top: 80px;
  right: 10px;
  z-index: 999;
  display: flex;
  text-align: left;
}
  /* acá abajo se agrega el triangulito como que apunta al cart. Se llama "tooltip arrow" */
  .cart-modal::after {
    content: '';
    position: absolute;
    top: -10px;
    right: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff; /* Color de la flecha aquí */
  }
  
  .close-button {
    background-color: #661616;
    border: none;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 1px;
    padding: 8px;
  z-index: 1;
  border-radius: 15%;
  }
  
  .title-bold{
    font-weight: bold;
  }
  .close-button:hover{
    background-color: #2e2222;
  }

  h2 {
    margin-top: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .remove-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
  }

  .img-cart-detail {
    padding-right: 8px;
    border-radius: 10%;
  }

  /* Styles for the productQuantity container */
.productQuantity {
  display: inline-flex; /* para que tome solo el contenido y lo rodee*/
  align-items: center;
  justify-content: center;
  border: 1px solid #0a0a0a;
  background-color: #ffffff;
  border-radius: 20px; /* redondearlo */
  padding: 5px;
}

/* Styles for the buttons inside the container */
.productQuantity button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}

/* Style for the number button (center) */
.numbers {
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
  justify-content: center;
}

/* Style for the + and - buttons */
.productQuantity button.plus-minus {
  width: 30px;
  color: black;
  font-weight: bold;
  background-color: #ffffff;
}

/* Space between the buttons */
.productQuantity button + button {
  margin-left: 5px;
}

.product-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trash-button{
  margin-left: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.lastline{
  float: left;
  margin-right: 200px; 
}

.pricing{
  margin-top: 5px;
  margin-left: 60px;
  font-size: large;
  font-weight: bold;
}

.separator{
  align-items: center;
}

.total-amount{
  background-color: black;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}