.contenedor-principal{
  font-family: 'Raleway', sans-serif;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 20px;
}

.card-imagen {
  display: flex;
  flex-direction: column;
  padding: 2%;
  border-radius: 8px;
  margin-left: 20px;
}

.card-imagen:hover{
cursor: pointer;
}

.enlarged-image {
  width: 370px;
  height: 380px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 1px;
  background-color: white;
  padding: 10px;
  z-index: 999;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.enlarged-image img {
  max-width: 100%;
  max-height: 100%;
}


.detalle{
  flex: 1;
  justify-content: left;
  text-align: left;
  padding-left: 20px;
}

.detalle-name{
  font-size: 28px;
  font-weight: bold;
  
}

.detalle-texto{
  font-weight: bold;
}

.detalle-price{
  font-size: 24px;
  font-weight: bold;
}

.detalle-lines{
  padding-bottom: 20px;
}

.buttons-container {
  margin-top: 20px; /* Add some spacing between details and buttons */
  display: flex;
  gap: 10px; /* Add some space between the buttons */
  justify-content: left; /* Center the buttons horizontally */
  margin-bottom: 20px;
}

.buttons-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttons-container button:hover {
  background-color: #85d8a1;
}


.reviews-contenedor {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 80px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0px;
  margin-top: 50px;
}

.texto {
  grid-column: 1; /* Coloca .texto en la columna 1 (lado izquierdo) */
  margin-right: 10px; /* Ajusta este valor según la cantidad de espacio deseado */
  display: inline-block; 
}

.review {
  grid-column: 2; /* Coloca .review en la columna 2 (lado derecho) */
  

}


.separador {
  margin-top: 2000px; /* Ajusta el espaciado superior según sea necesario */
  border: 1px solid #ccc; /* Estilo de la línea separadora */
}


@media screen and (max-width: 660px) {
  .reviews-contenedor {
      grid-template-columns: 1fr;
      margin-top: 40px;
  }

  /* Agrega un margen interno para los elementos dentro de las columnas */
  .reviews-contenedor > * {
      margin-top: -50px; /* Ajusta este valor según tu preferencia */
  }
}






