header{
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color: #f3efef;
    align-items: center;
    padding: 5px;
}

.SearchBar{
    display: flex;
    align-items: center;
}

h2{
    display: flex;
    font-size: 100%;
}