header{
    display: flex;
    height: 100px;
    background-color: #f3efef;
    align-items: center;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
}

.SearchBar{
    flex: 1;
    display: flex;
    justify-content: center;
}

h2{
    flex: 1;
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
}

.logoeco{
    padding: 5px;
    flex: 1;
}

.text-nav{
    align-items: center;
}